.container {
    margin-top: 50px !important;
    margin: auto;
    min-width: 300px;
    max-width: 25%;
    text-align: center;
}

.winner {
    color: rgb(58, 187, 69);
}

table, td {
    border: 1px solid black;
}

input, select, textarea{
    width: 160px !important;
}

.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 50% 50%;
    /* Changed after https://www.chromestatus.com/feature/6708326821789696 */
    /* Changes the behavior of percentage row tracks and gutters in grid containers with indefinite heights */
    /* grid-template-rows: 10% 10%; */
    grid-template-rows: 1fr 1fr;
    font-size: 16pt;
}

.wrapper2 {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(20px, auto);
    font-size: 15pt;
}

.small-text {
    font-size: 8pt;
    float: left;
    margin-top: 10px;
    margin-left: 6%;

}

@media only screen and (max-width: 1300px) {
    .small-text {
        margin-left: 0;
    }
}

.box1 {
    grid-column: 1/-1;
    grid-row: 1;
}

.box2 {
    grid-column: 1;
    grid-row: 2;
}

.box3 {
    grid-column: 2;
    grid-row: 2;
}

.box4 {
    grid-column: 3;
    grid-row: 2;
}

.wrapper > div {
    background: #eee;
}

.number {
    margin: 10px 0;
}

.selector {
    margin-top: 1px !important;
    margin-right: 3px !important;
    margin-bottom: 3px !important;
    margin-left: 3px !important;
    float: left;
}